button{
    background-color: unset;
    border: unset;
}
header h1{
    font-size: 100px;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
    width: fit-content;
    margin:0 auto;
}
.main{
    max-width: 40%;
    margin:0 auto;
}
.main>input{
    width: 100%;
    padding-left:2em;
}
.add-item{
    font-size: 24px;
    line-height: 2em;
}
.list-section{
    display:block;
    
}
.list-section>label{
    position: relative;
    transform: rotate(-90deg);
    padding-left:1em; 
    top: -0.8em;
    font-size: 2em;
    font-weight: bolder;
    display: inline-block;
    color:gray;
}
.item-list{
    padding-inline-start: 0px;
}
.item-list>li{
    list-style: none;
    line-height: 2em;
    font-size: 20px;
}

.item-list>li>div>label.complete{
 color: #d9d9d9;
 text-decoration: line-through;
}
.main-footer{
    position: relative;

}
.main-footer>p:first-child{
    float:left;

}
.main-footer>.todo-status-selector{
    max-width: 60%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    left:50%;
    transform: translateX(-50%);
}
.main-footer>p:last-child{
    float: right;
}
.main-footer:after{
   clear:both;
   content:"";
   display: block;
}
